footer {
    background-color: salmon;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: whitesmoke;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }